@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 22vw;
    padding: 10px;
}
.right{
    width: 78vw;
    position: relative;
}

.hamburger{
    display: none;
}

.hamburgerCont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.home ul li{
    display: flex;
    width: 15px;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
}

.m-1{
    margin: 5px;
}

.heading{
    display: flex;
    width: 15px;
    gap: 15px;
    width: 100%;
    font-weight: bold;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width: 22px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}


.library{
    min-height: 80vh;
    position: relative;
}

.footer a{
    color: gray;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist h1{
    padding: 16px;
}
.right{
    margin: 16px 0;
}

.cardContainer{
    margin: 30px;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
    /* width: 60vw; */
    /* border: 2px solid pink; */
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .5s;
}

.card:hover{
    background-color: rgb(68, 65, 67);
    cursor: pointer;
    --a:1;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 158px;
    right: 15px;
    /* background-color: rgb(156, 255, 7); */
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 21px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    
}

.loginbtn:hover{
    font-weight: bolder;
    width: 82px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    width: 73vw;
    padding: 12px;
    background-color: #dad5d5;
    border-radius: 30px;
    filter: invert(1);
    min-height: 39px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist ul{
    padding: 0px 12px;
}

.songlist ul li{
    list-style-type:decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songlist .info{
    font-size: 13px;
    width: 344px;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playnow span{
    font-size: 15px;
}

.seekbar{
    height: 4px;
    width: 98%;
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 4px;
    left: 0;
    transition: left 0.5s;
}

.songbuttons{
    cursor: pointer;
}

.information{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.close{
    display: none;
}

.songinfo{
    color: black;
    padding: 0 12px;
    width: 200px;
}
.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}